# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Dependencies
node_modules/
.yarn

# Build / Target
target/
.anchor/
dist/
build/

# Database
db/
*.db
*.sqlite
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archive
archive/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Prettier
.prettierignore
